<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Приложение по итоговой аттестации</title>
</head>
<body bgcolor="#CCCCFF" text="blue">
<h1 align="center">
     <font size="6">
    Прогнозирование размеров сварного шва при электронно-лучевой сварке
тонкостенных конструкций аэрокосмического назначения
     </font>
</h1>
<h2 align="right">
      <font size="4">
          Слушатель: Прокопьева Елена Георгиевна
      </font>
</h2>
<form action="" method="post">
      <p>
          <label>Величина сварочного тока IW</label>
          <input align="center" type="float" name="IW">
      </p>
          <p>
          <label>Ток фокусировки электронного пучка IF</label>
          <input align="center" type="float" name="IF">
      </p>
          <p>
          <label>Скорость сварки VW</label>
          <input align="center" type="float" name="VW">
      </p>
          <p>
          <label>Расстояние от поверхности образца</label>
          <input align="center" type="float" name="FP">
      </p>
      <p align="center">
          <input align="center" type="submit">
      </p>
</form>
{% if message %}
<p>{{ message }}</p>
{% endif %}
</body>
</html>